@font-face {
    font-family: regular;
    src: url(../font/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
    font-family: light;
    src: url(../font/Raleway/static/Raleway-Light.ttf);
}

@font-face {
    font-family: bold-one;
    src: url(../font/Raleway/static/Raleway-Bold.ttf);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #4d4848;
    font-size: 17px;
}

h1{
    font-size: 60px;
    line-height: 40px;
}

h2{
    font-size: 35px;
    line-height: 45px;
}

p{
    font-size: 17px;
    color: #4d4848;
    line-height: 30px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 15px;
}

.first-detail-social a span:hover{
    background-color: #8774eb;
}




.sectioning{
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
    width: 100%;
    
    
}

.sectioning img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    border: 4px solid #ff8c5b;
}

.sectioning .h4{
    line-height: 0px;
}

.img-section{
    display: flex;
    align-items: center;
}



input[type="Submit"]{
    border: 2px solid #8774eb;
    background-color: #8774eb;
    border-radius: 6px;
    color: black;
    cursor: pointer;
    padding: 10px;
}



input[type="Submit"]:hover{
    background-color: white;
    color: black;
}




p input[type="Submit"]{
    color: white;
}

.home:active{
    border-bottom: 4px solid #8774eb;
    border-radius: 4px;
    padding: 5px 7px 0px 7px;
}

.about{
    border-bottom: 4px solid #8774eb;
    border-radius: 4px;
    padding: 5px 7px 0px 7px;
}

.serve:active{
    border-bottom: 4px solid #8774eb;
    border-radius: 4px;
    padding: 5px 7px 0px 7px;
}

.cont:active{
    border-bottom: 4px solid #8774eb;
    border-radius: 4px;
    padding: 5px 7px 0px 7px;
}



::placeholder{
    font-size: 16px;
    font-weight: 550;
}

*{
    box-sizing: border-box;
}

.all-content{
    overflow-x: hidden;
    margin: 0px 5px;
}




body{
    font-family: regular;
    margin: 0px;
    padding: 0px;
    background-color: #ff8c5b;
    margin: auto;
    width: 100%;
}

body::-webkit-scrollbar{
    display: none;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    border: 4px solid #ff8c5b;
}

.img-nav h4{
    line-height: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    cursor: pointer;
    flex-wrap: wrap;
}

.img-nav{
    display: flex;
    align-items: center;
    width: 15%;
    
}

.nav-h5 h5 a{
    color: black;
}

.nav-input{
    width: 20%;
    display: flex;
    align-self: center;
    
}

.nav-input span{
    position: relative;
    right: 0;
    align-self: center;
    border: 3px solid #fbda67;
    padding: 10px;
    cursor: pointer;
    border-left: none;
    border-radius: 0px 23px 23px 0px;
}



.nav-input input{
    width: 100%;
    padding: 10px 0px 10px 20px;
    outline: none;
    border: 3px solid #fbda67;
    transition: all 0.5s cubic-bezier(.25, .8 , .25 ,1);
    animation: 3s input;
    border-radius: 23px 0px 0px 23px;
}

@keyframes input{
    0%{
        padding: 0px;
    }

    100%{
        padding-left: 50px;
    }
}


.nav-h5{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
    flex-wrap: wrap;
    
}

.home-page{
    background-color: white;
    padding: 20px 60px 60px 60px;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.about-me{
    background-color: #fbda67;
    padding: 20px 60px 60px 60px;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    bottom: 10;
}

.journey{
    background-color: white;
    padding: 20px 60px 60px 60px;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    bottom: 20;
}

.social-about{
    background-color: #fbda67;
    padding: 20px 60px 60px 60px;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    bottom: 30;
}

.education-background{
    background-color: white;
    padding: 20px 60px 60px 60px;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    bottom: 40;
}



.first-side-home{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


    

.intro-first-side{
    width: 50%;
    margin-top: 90px;
}


.curve img{
    height: auto;
    background-color: #8774eb;
    width: 100%;
    border-radius: 100% 70% 50%;
    margin-top: 90px;
    margin-left: 70px;
}

.curve1 img{
    width: 50%;
}

.curve1{
    width: 50%;
}



.f-s-a-m h2{
    text-align: center;
    color: #8774eb;

}

.f-s-a-m{
    border-top: 6px solid #4d4848;
    border-radius: 12px;
    border-bottom: 6px solid #4d4848;
    padding-bottom: 20px;
    padding: 15px;
}

.home-page p{
    line-height: 10px;
}





.f-s-a-m-css{
    border-top: 6px solid #4d4848;
    border-radius: 12px;
    border-bottom: 6px solid #4d4848;
    padding-bottom: 20px;
    margin-top: 50px;
    padding: 15px;
}

.f-s-a-m-css h2{
    text-align: center;
    color: #8774eb;

}

.f-s-a-m-java h2{
    color: #8774eb;
    text-align: center;
}



.f-s-a-m-java{
    border-top: 6px solid #4d4848;
    border-radius: 12px;
    border-bottom: 6px solid #4d4848;
    padding-bottom: 20px;
    margin-top: 50px;
    padding: 15px;
}


.about-me{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.abt-detail{
    width: 40%;
}

.first-side-abt-me{
    width: 50%;
    
}




.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.hero-btn2:hover{
    border: 1px solid #000000;
    background: #b8860b;
    transition: 1s;
    border: none;
}


.text-box p{
    margin: 10px 0 40px;
    color: #fff;
}


/* -----school---- */

.school{
    width: 100%;
    margin: auto;
    text-align: center;
    
}


.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.school-col{
    flex-basis: 31%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5S;
    height: auto;
    
}

.school-col:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: rgba(135, 116, 235 , .5);
    color: white;
}

.school .school-col:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: #8774eb;
    color: white;
}

.school .school-col:hover p{
    color: white;
}

/* -----social---- */

.social{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.social-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.social-col img{
    width: 100%;
    height: 70vh ;
    object-fit: cover;
    display: block;
    background-size: contain;
}



.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}


.layer:hover{
    background: rgba(135, 116, 235 , .5);
}


.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}


.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}

footer{
    text-align: center;
}

@media (max-width: 1024px){
    h1{
        font-size: 50px;
        line-height: 20px;
    }
    
    h2{
        font-size: 25px;
        line-height: 45px;
    }
    
    p{
        font-size: 15px;
        color: #4d4848;
        line-height: 30px;
    }

    h3{
        font-size: 13px;
    }
    
    h4{
        font-size: 16px;
    }
    
    h5{
        font-size: 12px;
    }

    .home-page .curve img{
        width: 80%;
        margin-top: 80px;
    }

    .home-page .curve{
        width: 50%;
    }
    

    .about-me .curve img{
        margin-top: 150px;
    }

    .first-side-abt-me input[type="button"]{
        display: none;
    }

    
}

.first-side-abt-me input[type="Submit"]{
    display: none;
}


@media (max-width: 991px){

    .first-side-abt-me input[type="Submit"]{
        display: block;
    }

    h1{
        font-size: 40px;
        line-height: 40px;
    }
    
    h2{
        font-size: 15px;
        line-height: 45px;
    }
    
    p{
        font-size: 12px;
        color: #4d4848;
        line-height: 30px;
    }

    h3{
        font-size: 10px;
    }
    
    h4{
        font-size: 13px;
    }
    
    h5{
        font-size: 9px;
    }


    .sectioning{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 0px 5px;
        position: relative;
    }
    
    .sectioning img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        cursor: pointer;
        border: 4px solid #ff8c5b;
    }
    
    .sectioning .h4{
        line-height: 0px;
    }
    
    .img-section{
        display: flex;
        align-items: center;
    }

    .section-h5{
        background-color: white;
        position: absolute;
        display: none;
        width: 100%;
        top: 50;
        height: auto;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.25), 0 10px 44px rgba(0, 0, 0, 0.22);
        margin: auto -5px;
        background-color: #8774eb;
        padding: 50px;
        border-radius: 0px 0px 10px 10px;
    }

    .section-h5 input{
        width: 100%;
        padding: 10px;
        border-radius: 25px;
        outline: none;
        border: none;
        border: 4px solid #fbda67;
    }

    .sec-input{
        display: flex;
        position: relative;
        align-items: center;
    }

    .section-h5 span{
        border: 4px solid #fbda67;
        position: absolute;
        padding: 10px;
        right: 0;
        border-radius:0px  25px  25px 0px;
    }

    .section-h5 a {
        color: white;
        display: block;
        font-size: 11px;
    }

    .section-h5  h5:hover{
        box-shadow: 10px 20px 28px rgba(0, 0, 0, 0.25), 10px 10px 10px rgba(0, 0, 0, 0.14);
    }

    .section-h5 a:hover{
        color: black;
    }

    .section-h5 h5{
        border: 1px solid #d6d6d6;
        padding: 0px 20px 20px 20px;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .bars{
        position: absolute;
        left: 85%;
    }

    .img-section:hover > .bars  + .section-h5{
        display: block;
    }
    
    

    .nav{
        display: none;
    }
    .home-page .curve img{
        width: 70%;
        
    }

    .first-side-home{
        margin: 0px;
    }

    .about-me .abt-detail{
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }

    .about-me .curve img{
        width: 50%;
    }

    .first-side-abt-me{
        width: 100%;
        margin-top: 100px;
    }

    .f-s-a-m p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .f-s-a-m .p:hover{
        text-overflow: clip;
        white-space: normal;
        display: block;
        font-size: 12px;
    }

    input[type="button"]{
        border: 2px solid #8774eb;
        background-color: #8774eb;
        border-radius: 6px;
        transition: all 3s cubic-bezier(.25, .8 , .25 ,1);
        animation: 10s bobo;
        color: black;
        cursor: pointer;
        padding: 4px  10px;
        
    }
    
    

    .f-s-a-m-css .p{
        text-overflow: ellipsis;
        overflow: hidden;
          white-space: nowrap;
    }

    .f-s-a-m-css .p:hover{
        text-overflow: clip;
        white-space: normal;
        display: block;
        font-size: 12px;
    }   

   .f-s-a-m-java .p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .f-s-a-m-java .p:hover{
        text-overflow: clip;
        white-space: normal;
        display: block;
        font-size: 12px;
    } 

    .row{
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .social-col img{
        width: 100%;
        height: auto;
    }

    .social-col{
        width: 100%;
        height: auto;
    }
}


@media (max-width: 425px){

    h1{
        font-size: 20px;
        line-height: 20px;
    }
    
    h2{
        font-size: 11px;
        line-height: 25px;
    }
    
    p{
        font-size: 9px;
        color: #4d4848;
        line-height: 10px;
    }

    .curve{
        margin-right: 60px;
    }

    a{
        font-size: 9px;
    }

    h3{
        font-size: 8px;
    }
    
    h4{
        font-size: 10px;
        line-height: 15px;
    }
    
    h5{
        font-size: 7px;
    }

    .sectioning h4{
        line-height: 0px;
    }

    

    .home-page{
        padding: 12px;
        margin: 5px;
    }

    .about-me{
        padding: 12px;
        margin: 5px;
    }

    .journey{
        padding: 12px;
        margin: 5px;
    }

    .social-about{
        padding: 12px;
        margin: 5px;
    }

    .education-background{
        padding: 12px;
        margin: 5px;
    }

    .first-side-abt-me p{
        line-height: 20px;
    }

    .row p{
        line-height: 20px;
    }

    .intro-first-side{
        margin: 0;
        margin-top: 30px;
    }

    .home-btn  button a{
        font-size: 10px;
    }

    .home-btn{
        margin: 0;
    }

    .abt-detail{
        margin-bottom: 0px;
    }

    .abt-detail .f-s-h1{
        margin: 0px;
    }

    .about-me .abt-detail .curve2 img{
        width: 100%;
    }
}


@media (min-width: 2560px){

    ::placeholder{
        font-size: 30px;
    }

    h1{
        font-size: 100px;
        line-height: 50px;
    }
    
    h2{
        font-size: 40px;
        line-height: 15px;
    }
    
    p{
        font-size: 30px;
        color: #4d4848;
        line-height: 30px;
    }

    h3{
        font-size: 30px;
    }
    
    h4{
        font-size: 30px;
    }
    
    h5{
        font-size: 30px;
    }
    a{
        font-size: 30px;
    }

    .home-page{
        padding: 280px;
        margin: 200px 200px 0px 200px;
    }

    .about-me{
        padding: 180px;
        position: relative;
        bottom: 11;
        margin: 0px 200px 0px 200px;
    }

    .journey{
        padding: 180px;
        position: relative;
        bottom: 11;
        margin: 0px 200px 0px 200px;
    }

    .social-about{
        padding: 180px;
        position: relative;
        bottom: 11;
        margin: 0px 200px 0px 200px;
    }

    .education-background{
        padding: 180px;
        position: relative;
        bottom: 11;
        margin: 0px 200px 0px 200px;
    }

    .abt-detail h2{
        line-height: 60px;
    }

    .first-side-abt-me p{
        line-height: 60px;
    }

    .first-side-abt-me input[type="button"]{
        display: none;
    }

    .row p{
        line-height: 60px;
    }

    .nav-input input{
        padding: 25px 0px 25px 40px;
        border-radius: 45px 0px 0px 45px;
        width: 100%
    }

    .nav-input span{
        padding: 25px;
        font-size: 30px;
        border-radius: 0px 45px 45px 0px;
    }
}